<div class="footer">
  <div>
    <%= link_to "Nova Reunião", new_meeting_path, class: 'btn btn-primary' %>
  </div>
  <div>
    <%= link_to "Nova Sala", new_room_path, class: 'btn btn-primary' %>
  </div>
</div>