.meeting {
  border-style: solid;
  border-width: thin;
  border-color: rgb(220,220,220);
  width: 20%;
  padding: 20px;
  margin-top: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}