<div class="container">
  <h5>Lista das Salas</h5>
  <% @rooms.each do |room| %>
    <div class="room">
      <ul>
        <li><p><%= room.name%> no <strong><%= room.floor %>o andar</strong>, capacidade: <%=room.capacity%></p>
            <%= link_to "Deletar",
                room_path(room.id),
                method: :delete,
                data: { confirm: "Tem certeza que quer deletar a #{room.name}?" },
                class: "btn btn-warning" %>
        </li>
      </ul>
    </div>
  <% end %>
</div>